@charset "utf-8";

/* 초기화 CSS */

body {
   margin: 0;
   padding: 0;
   font-size: 0.9em;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
}

p {
   margin: 0;
}

/* 고정형 */

.wrap {
   min-width: 1300px;
   overflow: hidden;
}

/* 헤더 */

header {
   position: relative;
   /* height: 85px; */
}

nav {
   height: 85px;
   background-color: white;
   border-bottom: 1px solid rgb(193, 193, 193);
   display: flex;
   align-items: center;
}

.header__search {
   height: 460px;
   width: 100%;
   background-image: url('../images/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header__search > div {
   width: 560px;
   text-align: center;
   margin: 0 auto;
}

.header__search h1 {
   color: white;
   font-size: 40px;
   font-weight: 700;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 30px 0;
   margin-bottom: 20px;
}

.header__search > div > ul {
   background-color: rgba(9, 3, 48, 0.8);
   display: flex;
   border-radius: 10px;
}

.header__search > div > ul > li {
   flex: 1;
   display: flex;
}

.header__search > div > ul > li > button {
   font-size: 16px;
   flex: 1;
}

.nav-pills .nav-link.active {
   background-color: #fff; /* 원하는 배경색으로 변경 */
   color: rgba(9, 3, 48); /* 텍스트 색상도 같이 조정 가능 */
   font-weight: bold;
}

.nav-pills .nav-link {
   color: white;
   /* 비활성 상태의 색상 */
}

.tab-content .tab-pane {
   width: 560px;
   height: 60px;
   background-color: #ff5c08;
   border-radius: 10px;
}

.tab-content .tab-pane > input {
   float: left;
   height: 60px;
   width: 90%;
   padding: 10px 20px;
   border-radius: 10px 0 0 10px;
   border: none;
   font-size: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tab-content .tab-pane > div {
   float: right;
   width: 10%;
   line-height: 60px;
   font-size: 23px;
   color: white;
}

/* 상위 메뉴 */

.nav__menu > li {
   display: inline-block;
   padding: 20px;

   /* 하위 메뉴를 만들기 위해 적용 */
   position: relative;
   top: 0;
}

.w1 {
   display: block;
   font-size: 17px;
   font-weight: bold;
}

.w2 {
   display: block;
   font-size: 13px;
}

/* 하위 메뉴 */

.sub-menu {
   display: none;
   width: 200px;
   background-color: white;
   border: 1px solid rgb(193, 193, 193);

   /* 하위 메뉴의 위치 지정을 위해 absolute 적용
   (상위 relative 포지션을 가지고 있는 li 태그를 기준으로 한다) */
   position: absolute;

   /* 메뉴(header)의 height가 85px이므로 */
   top: 85px;

   /* 하위 메뉴 안보임 방지 */
   z-index: 9999;
}

.nav__menu li:hover .sub-menu {
   display: block;
}

.nav__menu li:hover a {
   /* 상위 메뉴 호버 시 컬러 */
   color: orange;
}

.nav__menu li:hover .sub-menu a {
   /* 하위 메뉴 호버 시 컬러 */
   color: black;
}

.sub-menu > li {
   padding: 10px;
}

.sub-menu > li:hover {
   background-color: rgb(228, 228, 228);
}

/* 로그인 및 회원가입 버튼 */

nav .login {
   font-size: 11px;
   background-color: rgb(228, 228, 228);
   border: 1px solid rgb(193, 193, 193);
   border-radius: 5px;
   height: 30px;
   width: 125px;
   margin-right: 10px;
}

nav .login:hover {
   background-color: rgb(176, 176, 176);
}

nav .right-menu__btn {
   width: 130px;
}

.right-menu__btn {
   font-size: 15px;
   font-weight: bolder;
   text-align: right;
   padding: 0 5px;
}

.right-menu > div > div:hover {
   background-color: rgb(176, 176, 176);
}

/* 메인 */

.main-section {
   width: 1140px;
   display: flex;
   margin: 0 auto;
   padding: 40px 0;
   justify-content: space-between;
}

.main-section > ul > li {
   width: 270px;
   font-size: 17px;
   font-weight: bold;
   padding-bottom: 10px;
   border-bottom: 1px solid rgb(176, 176, 176);
}

.main-section > ul > ul {
   padding-top: 15px;
}

.main-section > ul > ul > li {
   padding: 5px 0;
   font-size: 13px;
}

.ellipsis {
   width: 270px; /* 필요한 너비 설정 */
   white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
   overflow: hidden; /* 텍스트가 넘치면 숨김 */
   text-overflow: ellipsis; /* 넘치는 텍스트는 말줄임표로 */
}

.main-section > ul > ul > li:hover {
   background-color: rgb(228, 228, 228);
}

.main-banner {
   width: 100%;
   background-color: rgb(228, 228, 228);
}

.main-banner > div {
   width: 890px;
   margin: 0 auto;
   display: flex;
}

.main-banner > div > div b {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 17px;
}

.main-banner__btn > div {
   width: 210px;
   height: 60px;
   background-color: rgb(193, 193, 193);
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
}

.main-banner__btn > div > span {
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-weight: 600;
}

.main-banner__btn > div:hover {
   background-color: rgb(176, 176, 176);
}

/* 푸터 */

footer {
   width: 700px;
   margin: 50px auto 15px auto;
}

footer p {
   font-size: 12px;
   text-align: center;
   line-height: 20px;
}

footer > div {
   margin-top: 15px;
}

footer > div > div {
   width: 180px;
   margin: 20px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.icon {
   width: 30px;
   height: 30px;
   border: 1px solid rgb(207, 207, 207);
   background-color: rgb(238, 238, 238);
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon > a {
   color: rgb(142, 142, 142);
}
